# python cache
__pycache__/

virtual environments
venv/
.venv/

# temporary files and directories
tmp/
test*.py
test*.sh

# backuped files
*bk*.*

# example figures
/*.png
/*.jpg
/examples/*.png
/examples/*.jpg
/examples/*/*.png
/examples/*/*.jpg

# package
dist/
build/
*.egg-info/
